version: "3.9"

services:
  app:
    build:
      target: app
      context: .
    ports:
      - "8501:8501"
    volumes:
      - ./:/project
    command:
      sh -c "streamlit run eduplan/main.py"

  test:
    build:
      target: dev-app
      context: .
    volumes:
      - ./:/project
    command:
      sh -c ". scripts/run-tests.sh"
